/* 
---------------------------------------
	BetterPlace theme 
---------------------------------------	
* 	Primary Color : #00aa4a
* 	Secondary Color : #3075ba
* 	Highlighted Text (Title) Color & Fonts : #222222, 'Roboto Condensed', sans-serif
* 	Body Text Color & Fonts : #333c4e, 'Roboto', sans-serif
* 	font-family: 'Roboto', sans-serif;

---------------------------------------
	Elements Covered
---------------------------------------
* 	Reuse class
* 	Custom Margins
* 	Typography
*	Card
* 	Buttons
* 	Form Elements and theme
* 	ModalBox
* 	z-depth
* 	Breadcrum
* 	Dropdown Menu
* 	Toast Notification
* 	Text Ellipsis
* 	Badge
* 	Tabbing
* 	Table
--------------------------------------- 
*/

body {font-family: 'Roboto', sans-serif; font-size:16px; line-height:1.6; color:#455056; background-color:#ffffff; overflow-x: hidden;}
body.modal-open{overflow: hidden !important}

@media(max-width: 767px){
	.container{max-width: 100%;}
	body{font-size: 14px;}
}

/* ----------------------------
	Reuse class
---------------------------- */ 
/*Background Color*/
.primary-bg {background-color:#3075ba;} 
.secondary-bg {background-color:#00aa4a;} 

/* Typography Color */
.primary-text {color:#171f23 !important;}
.secondary-text {color:#455056 !important;}
.white-text {color:#ffffff !important;}
.blue-text {color:#3075ba !important;}
a.blue-text:hover, a.blue-text:focus, a.blue-text:active {color:#171f23 !important;}
.green-text {color:#00aa4a !important;}
.orange-text {color:#F54B00 !important;}
.material-icons.primary, i.primary{color: #3075ba;}
.material-icons.secondary, i.secondary{color: #00aa4a;}
.material-icons.danger, i.danger{color: #F54B00;}
.material-icons.default, i.default{color: rgba(69, 80, 86, 0.7);}

.text-capitalize{text-transform: capitalize!important;}

/* ----------------------------
	Custom Margins
---------------------------- */ 
.mb-0{margin-bottom: 0px!important;}
.mb-8{margin-bottom: 8px!important;}
.mb-16{margin-bottom: 16px!important;}
.mb-18{margin-bottom: 18px!important;}
.mb-20{margin-bottom: 20px!important;}
.mb-24{margin-bottom: 24px!important;}
.mb-32{margin-bottom: 32px!important;}
.mb-40{margin-bottom: 40px!important;}
.mt-0{margin-top: 0px!important;}
.mt-8{margin-top: 8px!important;}
.mt-16{margin-top: 16px!important;}
.mt-24{margin-top: 24px!important;}
.mt-32{margin-top: 32px!important;}
.mt-40{margin-top: 40px!important;}

/* ----------------------------
	Custom Max Width
---------------------------- */ 
.maxw-90{max-width: 90px;}
.maxw-100{max-width: 100px;}
.maxw-120{max-width: 120px;}
.maxw-160{max-width: 160px;}
@media(max-width: 1199px){
	.maxw-lg-90{max-width: 90px;}
	.maxw-lg-100{max-width: 100px;}
	.maxw-lg-120{max-width: 120px;}
	.maxw-lg-160{max-width: 160px;}
}
@media(max-width: 767px){
	.w-sm-100{width: 100% !important;}
	.w-sm-160{width: 160px !important;}
	.w-sm-120{width: 120px !important;}
	.w-sm-82{width: 82px !important;}
}
@media(max-width: 475px){
	.w-xs-82{width: 82px !important;}
}

/* ----------------------------
	Typography
---------------------------- */ 
/* Font Size */
.pmd-display-6 {font-size:22px;}
.pmd-display-5 {font-size:46px;line-height:1.4;}
.pmd-display-4 {font-size:32px;}
.pmd-display-3 {font-size:28px;}
.pmd-display-2 {font-size:24px;}
.pmd-display-1 {font-size:20px;}
.pmd-display-0 {font-size:14px; line-height: 18px;}
/* Custom Font Family */
.ff-roboto{font-family: 'Roboto', sans-serif !important;}
.ff-roboto-condensed{font-family: 'Roboto Condensed', sans-serif !important;}
.fw-light{font-weight:300 !important;}
.fw-regular{font-weight:400 !important;}
.fw-medium{font-weight:500 !important;}
.fw-bold{font-weight:700 !important;}
.fz-16{font-size:16px !important; line-height: 1.2;}
.lh-1{line-height: 1;}
/* Color & Weight style */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{ color:#171f23;font-family: 'Roboto Condensed', sans-serif;margin-bottom: 20px;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{color:#171f23;}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, 
h1 a:focus, h2 a:focus, h3 a:focus, h4 a:focus, h5 a:focus, h6 a:focus, 
h1 a:active, h2 a:active, h3 a:active, h4 a:active, h5 a:active, h6 a:active{color: #3075ba;}
h1.inverse, h2.inverse, h3.inverse, h4.inverse, h5.inverse, h6.inverse{ color:#fff;}
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong{font-weight:700;}
.text-muted{color: rgba(69, 80, 86, 0.87) !important;}
.text-muted-2{color: rgba(69, 80, 86, 0.64) !important;}
.text-muted-3{color: rgba(69, 80, 86, 0.54) !important;}
.text-muted-4{color: rgba(69, 80, 86, 0.44) !important;}
.text-muted a{color: rgba(48, 117, 186, 0.87);}
/* Font size and color according to Google Material */
h1, .h1 { font-size:32px; font-weight: 500; line-height: 1.2; margin-bottom: 0;}
h2, .h2 { font-size:40px; font-weight: 700;}
h3, .h3 { font-size:28px; font-weight: 500;}
h4, .h4 { font-size:20px; font-weight: 700; color: #3075BA;}
h5, .h5 { font-size:18px; font-weight: 700;color: #455056;}
h6, .h6 { font-size:16px; font-weight: 400;}
/* Other Element Style */
em{font-style:italic;font-family: 'Roboto', sans-serif;}
.lead {font-size:22px;  margin-bottom: 48px;}
.lead.inverse{color: #ffffff;}
strong, b{font-weight:700;}
label{font-weight:400;}
p { margin-bottom:24px;}
a{ transition:all ease-in-out 0.3s; -moz-transition:all ease-in-out 0.3s; -ms-transition:all ease-in-out 0.3s; -o-transition:all ease-in-out 0.3s; -webkit-transition:all ease-in-out 0.3s;color:#3075ba; text-decoration:none; outline:none; display: inline-block;}
.text-underline{text-decoration: underline;}
a.text-underline:hover{text-decoration: none;}
a:hover, a:focus, a:active{color:#171f23;}
a.btn:hover, a.btn:focus, a.btn:active, a.btn-fab:hover{text-decoration: none;}
a:hover i, a:focus i, a:active i{text-decoration: none;}
.list-group-item-text{color:#455056;}
	@media screen and (max-width: 1199px) { 
		h2 { font-size:36px;}
		.md-fz-18{font-size: 18px;}
	}
	@media screen and (max-width: 991px) { 
		.lead { margin-bottom:36px; font-size: 18px;}
		h1, .h1{ font-size:30px;}
	}
	@media screen and (max-width: 767px){
		.lead { font-size: 20px; margin-bottom:24px; }
		h1, .h1{ font-size:28px;}
		h2, .h2{font-size:22px; line-height:1.3;}
		h3, .h3{font-size:18px; line-height:1.3;}
		.h5{font-size:20px; line-height:1.3;}
		h4{font-size:18px; line-height:1.3; margin: 18px 0 12px;}
		a{word-break: break-word; white-space: normal;}
		h1 br, h2 br, h3 br, h4 br{display: none;}
		.fz-m-14{font-size:14px !important; line-height: 1.4;}
		p { margin-bottom: 12px;}
		ul, ol{padding-left: 16px;}
		ol li{padding-left: 30px;}
	}
	/* Media Query - Mobile width 100% */
@media(max-width: 767px){
	.sm-w-100{width: 100% !important; max-width: 100% !important;}
}

/* ----------------------------
	Card
---------------------------- */
.card{border-radius: 2px; border: 0;}
.card-header{padding: 16px 16px 0 16px;}
.card-body{padding: 16px;}
.card.z-depth{box-shadow: 0 2px 4px rgba(0,0,0,0.08);}
.card.card-md{width: 500px;}
.card-icon{padding: 32px 24px 0;}
.card-icon + .card-header{padding-top: 12px;}
.card-header + .card-body{padding-top: 0;}
.card:hover{-webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.1); -moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.1); box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.1);}
.card.no-hover:hover{-webkit-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.06); -moz-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.06); box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.06);}
.card.content-card .card-body{padding: 16px;}
	/* Media Query */
@media screen and (max-width: 767px){
	.card-icon{padding: 20px 16px 0;}
}

/* ----------------------------
	Button
---------------------------- */
.btn{font-weight: 700; text-transform: uppercase;border-radius: 2px;font-size: 14px;border-width: 2px;line-height: 1.4;padding: 8px 16px;}
.btn-raised{-webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.12); -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.12); box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.12); border: 2px solid transparent;}
.btn-raised.active, .btn-raised.active:focus, .btn-raised:active, .btn-raised:active:focus{-webkit-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.12); -moz-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.12); box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.12); border: 2px solid transparent;}
.btn-sm{padding: 4px 8px;font-size: 12px;letter-spacing: 0.5px;}
.btn-lg{padding: 12px 20px; min-width: 140px;font-size: 16px;}

/* Button With Icon */
.btn i{margin: -6px 4px -4px -10px; vertical-align: middle; display: inline-block;}
.sm-floating-btn.btn i{margin-right: 0;}

/* Default Button */
.btn-default{background: rgba(69, 80, 86, 0.7); color: #ffffff;}
.btn-default, .btn-default.active, .btn-default:not(:disabled):not(.disabled).active, .btn-default:not(:disabled):not(.disabled):active, .show>.btn-default.dropdown-toggle{background-color:rgba(69, 80, 86, 0.7); border-color: transparent;}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:active:focus{ background-color:rgba(69, 80, 86, 0.6); color:#ffffff;}
.btn-default.disabled, .btn-default:disabled {color: #fff;background-color:rgba(69, 80, 86, 0.7); border-color: rgba(69, 80, 86, 0.7);opacity: 0.64;}
.btn-default:focus, .btn-default:active:focus, .btn-default:not(:disabled):not(.disabled):active:focus{box-shadow: 0 0 0 0.2rem rgba(69, 80, 86,0.12);}

/* Primary Button */
.btn-primary, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{background-color:#3075ba; border-color: #3075ba;}
.btn-primary:hover, .btn-primary:focus, .btn-primary.active, .btn-primary:active, .btn-primary:active:focus{ background-color:#3b82c8; color:#ffffff; border-color: #3b82c8;}
.btn-primary.disabled, .btn-primary:disabled {color: #fff;background-color:#3075ba; border-color: #3075ba;opacity: 0.64;}
.btn-primary:focus, .btn-primary:active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus{box-shadow: 0 0 0 0.2rem rgba(59, 130, 200,0.12);}

/* Secondary Button */
.btn-secondary, .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{background-color:#00AA4A; border-color: #00AA4A; color: #ffffff;}
.btn-secondary:hover, .btn-secondary.active, .btn-secondary:focus, .btn-secondary:active, .btn-secondary:active:focus{ background-color:#38b177; color:#ffffff; border-color: #38b177;}
.btn-secondary.disabled, .btn-secondary:disabled {color: #fff;background-color:#00AA4A; border-color: #00AA4A;opacity: 0.64;}
.btn-secondary:focus, .btn-secondary:active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus{box-shadow: 0 0 0 0.2rem rgba(0, 170, 74,0.12);}
.btn-secondary i{color: #ffffff;}

/* Danger Button */
.btn-danger, .btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle{background-color:#F54B00; border-color: #F54B00;}
.btn-danger:hover, .btn-danger:focus, .btn-danger.active, .btn-danger:active, .btn-danger:active:focus{ background-color:#ff5d15; color:#ffffff; border-color: #ff5d15;}
.btn-danger.disabled, .btn-danger:disabled {color: #fff;background-color:#F54B00; border-color: #F54B00;opacity: 0.64;}
.btn-danger:focus, .btn-danger:active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus{box-shadow: 0 0 0 0.2rem rgba(245, 75, 0,0.12);}

/* Button Outline */
.btn-outline i{vertical-align: middle;}
.btn-outline, .card-link.btn-outline {color: rgba(69, 80, 86, 0.7) !important;border-color: rgba(69, 80, 86, 0.34); background: transparent;}
.btn-outline:hover, .btn-outline.active, .btn-outline:not(:disabled):not(.disabled).active, .btn-outline:not(:disabled):not(.disabled):active, .show>.btn-outline.dropdown-toggle, .btn-outline.focus:hover, .btn-outline:focus:hover, .btn-outline.focus, .btn-outline:focus, .card-link.btn-outline:hover, .card-link.btn-outline:focus, .card-link.btn-outline:active{background-color: rgba(69, 80, 86, 0.7); border-color: transparent;color: #fff !important;}
.btn-outline.focus, .btn-outline:focus{box-shadow: 0 0 0 0.2rem rgba(69, 80, 86,0.12);}

/* Button Outline White (Theme Inverse) */
.theme-inverse .btn-outline,.theme-inverse .btn-outline-default {color: #ffffff !important; border-color: rgba(255, 255, 255, 0.74);}
.theme-inverse .btn-outline:hover, .theme-inverse .btn-outline.active, .theme-inverse .btn-outline:not(:disabled):not(.disabled).active, .theme-inverse .btn-outline:not(:disabled):not(.disabled):active, .show>.theme-inverse .btn-outline.dropdown-toggle, .theme-inverse .btn-outline.focus:hover, .theme-inverse .btn-outline:focus:hover, .theme-inverse .btn-outline.focus, .theme-inverse .btn-outline:focus, .theme-inverse .btn-outline-default:hover, .theme-inverse .btn-outline-default.active, .theme-inverse .btn-outline-default:not(:disabled):not(.disabled).active, .theme-inverse .btn-outline-default:not(:disabled):not(.disabled):active, .show>.theme-inverse .btn-outline-default.dropdown-toggle, .theme-inverse .btn-outline-default.focus:hover, .theme-inverse .btn-outline-default:focus:hover, .theme-inverse .btn-outline-default.focus, .theme-inverse .btn-outline-default:focus{background-color: rgba(255,255,255,1); border-color: #ffffff; color: #455056 !important;}
.theme-inverse .btn-outline.focus, .theme-inverse .btn-outline:focus,.theme-inverse .btn-outline-default.focus, .theme-inverse .btn-outline-default:focus{box-shadow: 0 0 0 0.2rem rgba(255, 255, 255,0.12);}
.theme-inverse .btn-outline:not(:disabled):not(.disabled):active:focus, .theme-inverse .btn-outline-default:not(:disabled):not(.disabled):active:focus{box-shadow: 0 0 0 0.2rem rgba(255, 255, 255,0.12);}

/* Default Outline Button */
.btn-outline-default, .card-link.btn-outline-default {color: rgba(69, 80, 86, 0.7) !important;border-color: rgba(69, 80, 86, 0.34); background-color: transparent;}
.btn-outline-default:hover, .btn-outline-default.active, .btn-outline-default:not(:disabled):not(.disabled).active, .btn-outline-default:not(:disabled):not(.disabled):active, .show>.btn-outline-default.dropdown-toggle, .btn-outline-default.focus:hover, .btn-outline-default:focus:hover, .btn-outline-default.focus, .btn-outline-default:focus, .card-link.btn-outline-default:hover, .card-link.btn-outline-default:focus, .card-link.btn-outline-default:active{background-color: rgba(69, 80, 86, 0.7); border-color: transparent;color: #fff !important;}
.btn-outline-default.focus, .btn-outline-default:focus{box-shadow: 0 0 0 0.2rem rgba(69, 80, 86,0.12);}

/* Primary Outline Button */
.btn-outline-primary, .card-link.btn-outline-primary {color: #3075ba !important;border-color: rgba(48, 117, 186, 1);}
.btn-outline-primary:hover, .btn-outline-primary.active, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle, .btn-outline-primary.focus:hover, .btn-outline-primary:focus:hover, .btn-outline-primary.focus, .btn-outline-primary:focus, .card-link.btn-outline-primary:hover, .card-link.btn-outline-primary:focus, .card-link.btn-outline-primary:active{background-color: #3075ba; border-color: #3075ba;color: #fff !important;}
.btn-outline-primary.focus, .btn-outline-primary:focus{box-shadow: 0 0 0 0.2rem rgba(48,117,186,.5);}

/* Secondary Outline Button */
.btn-outline-secondary, .card-link.btn-outline-secondary {color: #00AA4A !important;border-color: rgba(0, 170, 74, 1);}
.btn-outline-secondary:hover, .btn-outline-secondary.active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle, .btn-outline-secondary.focus:hover, .btn-outline-secondary:focus:hover, .btn-outline-secondary.focus, .btn-outline-secondary:focus, .card-link.btn-outline-secondary:hover, .card-link.btn-outline-secondary:focus, .card-link.btn-outline-secondary:active{background-color: #00AA4A; border-color: #00AA4A;color: #fff !important;}
.btn-outline-secondary.focus, .btn-outline-secondary:focus{box-shadow: 0 0 0 0.2rem rgba(0, 170, 74,.5);}

/* Danger Outline Button */
.btn-outline-danger, .card-link.btn-outline-danger {color: #F54B00 !important;border-color: rgba(245, 75, 0, 0.74);}
.btn-outline-danger:hover, .btn-outline-danger.active, .btn-outline-danger:not(:disabled):not(.disabled).active, .btn-outline-danger:not(:disabled):not(.disabled):active, .show>.btn-outline-danger.dropdown-toggle, .btn-outline-danger.focus:hover, .btn-outline-danger:focus:hover, .btn-outline-danger.focus, .btn-outline-danger:focus{background-color: #F54B00; border-color: #F54B00;color: #fff !important;}
.btn-outline-danger.focus, .btn-outline-danger:focus, .card-link.btn-outline-danger:hover, .card-link.btn-outline-danger:focus, .card-link.btn-outline-danger:active{box-shadow: 0 0 0 0.2rem rgba(245, 75, 0,0.12);}
.btn-outline-danger:not(:disabled):not(.disabled):active:focus{box-shadow: 0 0 0 0.2rem rgba(245, 75, 0,0.12);}

/* Floating Action Button */
.btn-fab.btn-sm i{font-size: 22px;}
.btn-sm.btn-fab{height: 34px; width: 34px;}
.btn-lg.btn-fab{height: 56px; width: 56px;}
.btn-xl.btn-fab{height: 68px; width: 68px;}

/* Button SVG icon */
.btn i.svg-icon{margin: -6px 0 -8px -10px;}
.svg-icon svg{width: 20px; height: 20px;}
i.svg-icon{display: inline-block;}
.svg-icon img{width: 28px; height: 28px;}
.btn-lg .svg-icon svg{width: 24px; height: 24px;}
.btn-primary .svg-icon svg, .btn-secondary .svg-icon svg, .btn-danger .svg-icon svg, .btn-default .svg-icon svg{fill: #ffffff;}

/* Fab Button */
.btn-fab{height: 40px; width: 40px; box-sizing: border-box; padding: 4px !important; justify-content: center;align-items: center; display: inline-flex; border-radius: 100% !important; border: 2px solid rgba(69, 80, 86, 0.16); color: rgba(69, 80, 86, 0.7); min-width: inherit; background: transparent;}
.btn-fab i{margin: 0;}
.btn-fab:hover, .btn-fab:focus, .btn-fab.active, .btn-fab:active, .btn-fab:not(:disabled):not(.disabled):active{ background-color: rgba(69, 80, 86, 0.7); color:#ffffff;}
.btn-fab.disabled, .btn-fab:disabled {color: rgba(69, 80, 86, 0.7); border-color: rgba(69, 80, 86, 0.7); opacity: 0.64;}
.btn-fab:focus, .btn-fab:active:focus, .btn-fab:not(:disabled):not(.disabled):active:focus{box-shadow: 0 0 0 0.2rem rgba(69, 80, 86,0.12);}

/* btn-fab svg */
.btn-fab svg{height: 22px; width: 22px; fill: rgba(69, 80, 86, 0.7);}
.btn-fab:hover svg, .btn-fab:focus svg, .btn-fab.active svg, .btn-fab:active svg, .btn-fab:not(:disabled):not(.disabled):active svg{ fill:#ffffff;}

/* Fab Primary Button */
.btn-fab-primary, .btn-fab-primary:not(:disabled):not(.disabled).active, .btn-fab-primary:not(:disabled):not(.disabled):active, .show>.btn-fab-primary.dropdown-toggle{border-color: rgba(48, 117, 186, 0.16); color: #3075ba !important;}
.btn-fab-primary:hover, .btn-fab-primary.active, .btn-fab-primary:focus, .btn-fab-primary:active, .btn-fab-primary:not(:disabled):not(.disabled):active{ background-color: #3075ba; color:#ffffff !important;}
.btn-fab-primary.disabled, .btn-fab-primary:disabled {border-color: rgba(48, 117, 186, 0.16); color: #3075ba; opacity: 0.64;}
.btn-fab-primary:focus, .btn-fab-primary:active:focus, .btn-fab-primary:not(:disabled):not(.disabled):active:focus{box-shadow: 0 0 0 0.2rem rgba(48, 117, 186,0.12);}
	/* Primary SVG */
.btn-fab-primary svg{fill: #3075ba;}

/* Fab Secondary Button */
.btn-fab-secondary, .btn-fab-secondary:not(:disabled):not(.disabled).active, .btn-fab-secondary:not(:disabled):not(.disabled):active, .show>.btn-fab-secondary.dropdown-toggle{border-color: rgba(0, 170, 74, 0.16); color: #00AA4A;}
.btn-fab-secondary:hover, .btn-fab-secondary.active, .btn-fab-secondary:focus, .btn-fab-secondary:active, .btn-fab-secondary:not(:disabled):not(.disabled):active{ background-color: #00AA4A; color:#ffffff;}
.btn-fab-secondary.disabled, .btn-fab-secondary:disabled {border-color: rgba(0, 170, 74, 0.16); color: #00AA4A; opacity: 0.64;}
.btn-fab-secondary:focus, .btn-fab-secondary:active:focus, .btn-fab-secondary:not(:disabled):not(.disabled):active:focus{box-shadow: 0 0 0 0.2rem rgba(0, 170, 74,0.12);}
	/* Secondary SVG */
.btn-fab-secondary svg{fill: #00AA4A;}
	/* Filled floating btn */
.btn-raised.btn-fab-secondary, .btn-raised.btn-fab-secondary:not(:disabled):not(.disabled).active, .btn-raised.btn-fab-secondary:not(:disabled):not(.disabled):active, .show>.btn-raised.btn-fab-secondary.dropdown-toggle{border-color: rgba(0, 170, 74, 1); background-color: rgba(0, 170, 74, 1); color: #ffffff !important;}
.btn-raised.btn-fab-secondary:hover, .btn-raised.btn-fab-secondary.active, .btn-raised.btn-fab-secondary:focus, .btn-raised.btn-fab-secondary:active, .btn-raised.btn-fab-secondary:not(:disabled):not(.disabled):active{ background-color: #38b177; color:#ffffff !important; border-color: #38b177;}
.btn-raised.btn-fab-secondary.disabled, .btn-raised.btn-fab-secondary:disabled {border-color: #38b177; color: #ffffff; opacity: 0.64; background-color: #38b177;}
.btn-raised.btn-fab-secondary:focus, .btn-raised.btn-fab-secondary:active:focus, .btn-raised.btn-fab-secondary:not(:disabled):not(.disabled):active:focus{box-shadow: 0 0 0 0.2rem rgba(0, 170, 74,0.12);}

/* Fab Danger Button */
.btn-fab-danger, .btn-fab-danger:not(:disabled):not(.disabled).active, .btn-fab-danger:not(:disabled):not(.disabled):active, .show>.btn-fab-danger.dropdown-toggle{border-color: rgba(245, 75, 0, 0.16); color: #F54B00;}
.btn-fab-danger:hover, .btn-fab-danger.active, .btn-fab-danger:focus, .btn-fab-danger:active, .btn-fab-danger:not(:disabled):not(.disabled):active{ background-color: #F54B00; color:#ffffff;}
.btn-fab-danger.disabled, .btn-fab-danger:disabled {color: #F54B00;border-color: rgba(245, 75, 0, 0.16); opacity: 0.64;}
.btn-fab-danger:focus, .btn-fab-danger:active:focus, .btn-fab-danger:not(:disabled):not(.disabled):active:focus{box-shadow: 0 0 0 0.2rem rgba(245, 75, 0,0.12);}
	/* Danger SVG */
.btn-fab-danger svg{fill: #F54B00;}

/* SVG Icon Size */
.btn-fab .svg-icons{height: 24px;}
.btn-sm.btn-fab .svg-icons{height: 22px;}
.btn-lg.btn-fab .svg-icons{height: 42px;}
.btn-fab svg{height: 24px; width: 24px;}
.btn-sm.btn-fab svg{height: 22px; width: 22px;}
.btn-lg.btn-fab svg{height: 42px; width: 42px;}

/* Button Link */
.btn-link{color: #3075ba;text-decoration: underline;font-weight: 500;font-size: 14px;}
.btn-link:hover, .btn-link:focus, .btn-link:active{color:#171f23;text-decoration: none;}
/* Fab Button Button Link */
.btn-link.btn-fab, .card-link.btn-fab i{color: rgba(69, 80, 86, 0.7);text-decoration: none;}
.btn-link.btn-fab:hover, .btn-link.btn-fab:focus, .btn-link.btn-fab:active, .card-link.btn-fab:hover i, .card-link.btn-fab:focus i, .card-link.btn-fab:active i{color:#ffffff;}
	/* Fab Primary */
.btn-link.btn-fab-primary, .card-link.btn-fab-primary i{color: #3075ba;}
.btn-link.btn-fab-primary:hover, .card-link.btn-fab-primary:hover i, .btn-link.btn-fab-primary:focus, .card-link.btn-fab-primary:focus i, .btn-link.btn-fab-primary:active, .card-link.btn-fab-primary:active i{color: #ffffff;}
	/* Fab Secondary */
.btn-link.btn-fab-secondary, .card-link.btn-fab-secondary i{color: #00AA4A;}
.btn-link.btn-fab-secondary:hover, .card-link.btn-fab-secondary:hover i, .btn-link.btn-fab-secondary:focus, .card-link.btn-fab-secondary:focus i, .btn-link.btn-fab-secondary:active, .card-link.btn-fab-secondary:active i{color: #ffffff;}
	/* Fab Danger */
.btn-link.btn-fab-danger, .card-link.btn-fab-danger i{color: #F54B00;}
.btn-link.btn-fab-danger:hover, .card-link.btn-fab-danger:hover i, .btn-link.btn-fab-danger:focus, .card-link.btn-fab-danger:focus i, .btn-link.btn-fab-danger:active, .card-link.btn-fab-danger:active i{color: #ffffff;}

/* Card Link Button */
.card-link.btn-primary.btn:not(:disabled):not(.disabled), a.card-link.btn-primary:not([href]):not([tabindex]), .card-link.btn-secondary.btn:not(:disabled):not(.disabled), a.card-link.btn-secondary:not([href]):not([tabindex]), .card-link.btn-danger.btn:not(:disabled):not(.disabled), a.card-link.btn-danger:not([href]):not([tabindex]), .card-link.btn-default.btn:not(:disabled):not(.disabled), a.card-link.btn-default:not([href]):not([tabindex]){color: #ffffff;}
	/* Media Query */
	@media screen and (max-width: 1499px) {
		.btn{padding: 8px 12px;}
		.btn-sm{padding: 4px 8px;}
	}
	@media screen and (max-width: 767px) { 
		.btn-fab{min-width: inherit;}
		.btn-lg { padding: 8px 20px; min-width: 110px;}
		/* sm-floating-btn (Green) */
		.sm-floating-btn{border-radius: 100%; height: 56px; width: 56px; min-width: 56px; background: #00AA4A; color: #ffffff; display: flex; align-items: center; justify-content: center; position: fixed; bottom: 16px; right: 16px; z-index: 9; box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.18); border-color: #00AA4A !important;}
		.sm-floating-btn span{display: none;}
		.floating-dropdown-btn .sm-floating-btn{position: fixed;}
		.sm-floating-btn i{margin: 0; font-size: 30px; color: #ffffff !important;}
		.sm-floating-btn.btn-outline-primary:hover, .sm-floating-btn.btn-outline-primary:focus, .sm-floating-btn.btn-outline-primary.active, .sm-floating-btn.btn-outline-primary:active, .sm-floating-btn.btn-outline-primary:active:focus,.sm-floating-btn.btn-outline-primary:not(:disabled):not(.disabled):active{ background-color:#38b177; color:#ffffff; border-color: #38b177 !important;}
		.sm-floating-btn.btn-outline-primary.disabled, .sm-floating-btn.btn-outline-primary:disabled {color: #fff;background-color:#38b177; border-color: #38b177;opacity: 1;}
		.sm-floating-btn.btn-outline-primary:focus, .sm-floating-btn.btn-outline-primary:active:focus, .sm-floating-btn.btn-outline-primary:not(:disabled):not(.disabled):active:focus{box-shadow: 0 0 0 0.2rem rgba(0, 170, 74,0.12);}
		/* sm-floating-btn (Danger) */
		.sm-floating-btn.btn-outline-danger{background: #F54B00; border-color: #F54B00 !important;}
		.sm-floating-btn.btn-outline-danger:hover, .sm-floating-btn.btn-outline-danger:focus, .sm-floating-btn.btn-outline-danger.active, .sm-floating-btn.btn-outline-danger:active, .sm-floating-btn.btn-outline-danger:active:focus,.sm-floating-btn.btn-outline-danger:not(:disabled):not(.disabled):active{ background-color:#f95f1b; color:#ffffff; border-color: #f95f1b;}
		.sm-floating-btn.btn-outline-danger.disabled, .sm-floating-btn.btn-outline-danger:disabled {color: #fff;background-color:#f95f1b; border-color: #f95f1b;opacity: 0.64;}
		.sm-floating-btn.btn-outline-danger:focus, .sm-floating-btn.btn-outline-danger:active:focus, .sm-floating-btn.btn-outline-danger:not(:disabled):not(.disabled):active:focus{box-shadow: 0 0 0 0.2rem rgba(245, 75, 0,0.12);}
		/* sm-floating-btn (btn-group - border-radius) */
		.btn-group>.sm-floating-btn.btn-group:not(:last-child)>.btn, .btn-group>.sm-floating-btn.btn:not(:last-child):not(.dropdown-toggle){border-radius: 100%;}
	}

/* ----------------------------
	Form
---------------------------- */
.section-inverse h2, .section-inverse .h2,
.section-inverse h3, .section-inverse .h3,
.section-inverse h4, .section-inverse .h4,
.section-inverse h5, .section-inverse .h5,
.section-inverse h6, .section-inverse .h6,
.section-inverse strong{ color: #fff;}
.section-inverse { color:rgba(255,0255,255,0.78);}
.section-inverse .title-divider::after{background: #fff;}
textarea{ resize: none; }
.form-group{margin-bottom: 20px;}
.form-group label{font-size: 14px; font-weight: 500; color: rgba(23, 31, 35, 0.87);margin-bottom: 2px;}
.form-control{border: 2px solid #eeeeee; font-size: 16px;color: #171f23; border-radius: 2px;}
.theme-inverse .form-group label{color: #ffffff;}
textarea.form-control{height: 80px; max-height: 100%;}
	/* Placeholder */
.form-control::-webkit-input-placeholder {color: rgba(23, 31, 35, 0.34); font-size: 16px;}
.form-control::-moz-placeholder {color: rgba(23, 31, 35, 0.34); font-size: 16px;}
.form-control:-ms-input-placeholder {color: rgba(23, 31, 35, 0.34); font-size: 16px;}
.form-control:-moz-placeholder {color: rgba(23, 31, 35, 0.34); font-size: 16px;}
.form-control::placeholder {color: rgba(23, 31, 35, 0.34); font-size: 16px;}
	/* Validation Message */
.help-block{font-size: 13px; color: rgba(69, 80, 86, 0.87);}
	/* Error */
.has-error .help-block{color: #dc3545;}
.has-error .form-control{border-color: rgba(220, 53, 69, 0.7);}
	/* Success */
.has-success .help-block{color: #00aa4a;}
.has-success .form-control{border-color: rgba(0, 170, 74, 0.7);}
	/* Date Picker */
.datepicker{right: auto;}
.date-picker{position: relative;}
.date-picker .form-control{padding-right: 32px;}
.input-group-addon{position: absolute; right: 8px; top: 8px; z-index: 3;}
.input-group-addon i{color: #3075ba;}
	/* Dropdown */
select.form-control:not([size]):not([multiple]){height: 40px;}
	/* Inline Form */
.form-inline .form-group{margin-right: 12px;}
.form-inline .btn{margin-right: 8px;}
.form-inline .btn:last-child{margin-right: 0;}
	/* Form Inline Button */
.form-inline .btn{line-height: 1.2; padding: 9px 16px 7px;}
	/* Form Icon */
.form-icon{position: relative;}
.form-icon i{position: absolute; left: 8px; bottom: 9px; font-size: 22px; color: rgba(69, 80, 86, 0.6);}
.form-icon .form-control{padding-left: 32px;}
	/* Media Query */
@media(max-width: 1499px){
	.form-inline .form-group{margin-right: 4px;}
	.form-inline .btn{margin-right: 6px;}
	.form-inline .btn:last-child{margin-right: 0;}
}
@media(max-width: 991px){
	.form-group{margin-bottom: 16px;}
}
@media(max-width: 767px){
	.form-group{margin-bottom: 12px;}
	.form-group label{margin-bottom: 0;}
	.form-control{padding: 8px 10px; font-size: 14px; max-height: 40px;}
	/* Placeholder */
	.form-control::-webkit-input-placeholder{font-size: 14px;}
	.form-control::-moz-placeholder{font-size: 14px;}
	.form-control:-ms-input-placeholder{font-size: 14px;}
	.form-control:-moz-placeholder{font-size: 14px;}
	.form-control::placeholder{font-size: 14px;}
	/* Inline Form */
	.form-inline .form-group{margin-bottom: 0;}
	.m-full-width .form-group{margin-right: 0; margin-bottom: 10px;}
	.m-full-width .form-control{width: 100%;}
	.form-inline .btn{line-height: 1.2; padding: 9px 12px 7px;}
}

/* Radio */
.custom-radio input[type=radio]{margin-left: 0;}
.custom-control.custom-radio{padding-left: 0;}
.custom-radio .custom-control-label{padding-left: 26px;padding-top: 0; cursor: pointer; font-size: 16px; font-weight: 400;}
.custom-radio .custom-control-label::before{width: 20px; height: 20px; top: 2px; left: 0; background-color: #cccccc}
.custom-radio .custom-control-input:checked~.custom-control-label::before, .custom-control-input:checked~.custom-control-label::before{background: #00AA4A;}
.custom-radio .custom-control-input:checked~.custom-control-label, .custom-control-input:checked~.custom-control-label{font-weight: 700;}
.custom-radio .custom-control-label::after{width: 20px; height: 20px; top: 2px; left: 0;}
.custom-control.custom-radio.custom-control-inline:last-child{margin-right: 0;}
	/* Media Query */
@media(max-width: 767px){
	.custom-radio .custom-control-label{font-size: 14px; padding-top: 2px;}
}

/* radio-card */
.radio-card{margin: 20px 0 40px;}
.radio-card .form-check{padding: 0 30px; max-width: 270px;}
.radio-card .form-check-input{opacity: 0;}
.radio-card .form-check-label{cursor: pointer;}
.radio-card .form-check-label .img-block{width: 160px; height: 160px; border: 2px solid #eeeeee; border-radius: 100%; background: #ffffff; position: relative;}
.radio-card .form-check-label .img-block:after{content: ""; width: 24px; height: 24px; border-radius: 100%; background: #00aa4a url(../images/check.png) no-repeat center center; position: absolute; top: 12px; right: 8px; display: none;}
.radio-card .form-check-label .img-block svg{width: 64px;}
.radio-card .form-check-label .img-block svg path{fill: rgba(23, 31, 35, 0.74);}
.radio-card .radio-block-content{margin-top: 18px;}
.radio-card .radio-block-content p{font-size: 20px; font-weight: 700; color: #171f23; margin: 0 0 6px; padding: 0;line-height: 1.2}
.radio-card .radio-block-content span{display: block;}
		/* Radio Block Checked */
.radio-card .form-check-input:checked + .form-check-label .radio-block-content p{color: #00aa4a;}
.radio-card .form-check-input:checked + .form-check-label .img-block{border: 4px solid #00aa4a; -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.08); -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.08); box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.08);}
.radio-card .form-check-input:checked + .form-check-label .img-block:after{display: block;}
.radio-card .form-check-input:checked + .form-check-label .img-block svg path{fill: #00aa4a;}
	/* Media Query */
@media(max-width: 767px){
	/* radio-card */
	.custom-radio .custom-control-label{padding-left: 28px;}
	.radio-card{margin: 10px -10px 30px;}
	.radio-card .form-check{padding: 0 6px;}
	.radio-card .form-check-label .img-block{height: 100px; width: 100px;}
	.radio-card .form-check-label .img-block:after{height: 20px; width: 20px; top: 6px; right: 0;}
	.radio-card .form-check-label .img-block svg{width: 45px;}
	.radio-card .radio-block-content{margin-top: 15px;}
	.radio-card .radio-block-content p{font-size: 16px;}
	.radio-card .radio-block-content .pmd-display-0{font-size: 13px;}
	.radio-card .form-check-input:checked + .form-check-label .img-block{border-width: 2px;}
}

/*---------------------------------------------
	Check Box
---------------------------------------------*/
.form-group label.custom-checkbox, .custom-checkbox{display: inline-block; position: relative; padding-left: 0; margin-bottom: 4px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; min-height: 20px; font-size: 16px; font-weight: 400;}
.custom-checkbox input{position: absolute !important; opacity: 0; cursor: pointer;}
.checkmark{position: relative; padding-left: 26px;}
.custom-checkbox:hover input ~ .checkmark:before{border-color: #dedede;}
.custom-checkbox input:checked ~ .checkmark:before {background-color: #00AA4A; border-color: #00AA4A;}
.checkmark:after { content: ""; position: absolute; display: none;}
.custom-checkbox input:checked ~ .checkmark:after { display: block;}
.custom-checkbox .checkmark:before{left: 0; top: 0; width: 20px; height: 20px; border: 2px solid #cccccc; border-radius: 2px; content: ""; position: absolute;}
.custom-checkbox .checkmark:after{left: 7px; top: 2px; width: 6px; height: 12px; border: solid white; border-width: 0 2px 2px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}
.custom-checkbox input:checked ~ .checkmark { color: #00AA4A;}

/*---------------------------------------------
	Radio button
---------------------------------------------*/
.form-group label.custom-radio-btn, .custom-radio-btn{display: inline-block; position: relative; padding-left: 0; margin-bottom: 4px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; min-height: 20px; margin-right: 20px; font-size: 16px; font-weight: 400;}
.custom-radio-btn:last-child{margin-right: 0;}
.custom-radio-btn input{position: absolute; opacity: 0; cursor: pointer;}
.radiocheck{position: relative; padding-left: 26px;}
.custom-radio-btn:hover input ~ .radiocheck:before{border-color: #dedede;}
.custom-radio-btn input:checked ~ .radiocheck:before {background-color: #00AA4A; border-color: #00AA4A;}
.radiocheck:after { content: ""; position: absolute; display: none;}
.custom-radio-btn input:checked ~ .radiocheck:after { display: block;}
.custom-radio-btn .radiocheck:before{left: 0; top: -1px; width: 20px; height: 20px; border: 2px solid #cccccc; border-radius: 50%; content: ""; position: absolute;}
.custom-radio-btn .radiocheck:after{left: 6px; top: 5px; width: 8px; height: 8px; border-radius: 50%; background: #ffffff;}
.custom-radio-btn input:checked ~ .radiocheck {color: #00AA4A;}
	/* Media Query */
@media(max-width: 574px){
	.custom-checkbox .checkmark,.custom-radio-btn .radiocheck{padding-top: 2px}
}

/*---------------------------------------------
	Radio Box
---------------------------------------------*/
.radio-box input{display: none;}
.radio-box .radio{padding:6px 12px 4px;color: rgba(23, 31, 35, 0.34); font-size: 14px; font-weight: 500; text-transform: uppercase; position: relative; margin: 0px 8px 8px 0; cursor: pointer;}
.radio-box .radio>span.radio-label{position: initial;margin-right: 0;padding-left: 0;width: 0;}
.radio-box .radio>span.radio-label:after{content: ""; display: block; position: absolute; background: transparent; transition: .2s ease-in-out; border: 2px solid #e7e6e6; height: 100%;width: 100%; left: 0;margin-top: 0;top: 0;transform: scale(1);border-radius: 2px;}
.radio-box .radio>span.radio-label:before{display: none;}
.radio-box .radio :checked+span.radio-label:after{border-color: rgba(0, 170, 74, 0.87); background: #fff;box-shadow: 0 3px 6px rgba(0,0,0,0.12);}
.radio-box .radio :checked+span+span{color: #00AA4A;position: relative}
.radio-box .radio-box-group .radio :checked+span.radio-label:after{display: block;transform: rotate(0);-webkit-transform: rotate(0);-moz-transform: rotate(0);display: block;top: 0;left: 0;width: 100%;height: 100%;border: 2px solid rgba(0, 170, 74, 0.87);border-radius: 2px;}
.radio-box .radio>span.radio-label{height: 0;display: block;}
.radio-box .radio-box-group .radio :checked + span +span i{filter: grayscale(0%);opacity: 1;}
.radio-box-group{margin-top: 4px;}

/* Color Option */
	/* Primary - Green (Available) */
.radio-box .radio.primary :checked+span.radio-label:after{border-color: rgba(48, 117, 186, 0.74);}
.radio-box .radio-box-group .radio.primary :checked+span.radio-label:after{border: 2px solid rgba(48, 117, 186, 0.74);}
.radio-box .radio.primary :checked+span+span{color: #3075BA;}
	/* Secondary - Green (Available) */
.radio-box .radio.secondary :checked+span.radio-label:after{border-color: rgba(0, 170, 74, 0.87);}
.radio-box .radio-box-group .radio.secondary :checked+span.radio-label:after{border: 2px solid rgba(0, 170, 74, 0.87);}
.radio-box .radio.secondary :checked+span+span{color: #00AA4A;}
	/* Danger (Not Available) */
.radio-box .radio.danger :checked+span.radio-label:after{border-color: rgba(245, 75, 0, 0.87);}
.radio-box .radio-box-group .radio.danger :checked+span.radio-label:after{border: 2px solid rgba(245, 75, 0, 0.87);}
.radio-box .radio.danger :checked+span+span{color: #F54B00;}
	/* Default (Left) */
.radio-box .radio.default :checked+span.radio-label:after{border-color: rgba(69, 80, 86, 0.64);}
.radio-box .radio-box-group .radio.default :checked+span.radio-label:after{border: 2px solid rgba(69, 80, 86, 0.64);}
.radio-box .radio.default :checked+span+span{color: rgba(69, 80, 86, 0.64);}
	/* Brown (Not Reachable) */
.radio-box .radio.brown :checked+span.radio-label:after{border-color: rgba(151, 117, 57, 0.87);}
.radio-box .radio-box-group .radio.brown :checked+span.radio-label:after{border: 2px solid rgba(151, 117, 57, 0.87);}
.radio-box .radio.brown :checked+span+span{color: rgba(151, 117, 57, 0.87);}
	/* Purple */
.radio-box .radio.purple :checked+span.radio-label:after{border-color: rgba(142, 68, 173, 0.87);}
.radio-box .radio-box-group .radio.purple :checked+span.radio-label:after{border: 2px solid rgba(142, 68, 173, 0.87);}
.radio-box .radio.purple :checked+span+span{color: rgba(142, 68, 173, 0.74);}

/* ------------------------------
	Modalbox
------------------------------- */
.modal{padding: 16px !important;}
.modal-content{border: 0; border-radius: 2px; -webkit-box-shadow: 0 0 6px 1px rgba(0,0,0,.26); -moz-box-shadow: 0 0 6px 1px rgba(0,0,0,.26); box-shadow: 0 0 6px 1px rgba(0,0,0,.26);}
.modal-header{padding: 24px 24px 0 24px;}
.modal-header .section-title{margin-bottom: 0;}
.modal-body{padding: 24px;}
.modal.z-depth{box-shadow: 0 2px 4px rgba(0,0,0,0.08);}
.modal.modal-md{width: 500px;}
.modal-icon{padding: 32px 24px 0;}
.modal-icon + .modal-header{padding-top: 12px;}
.modal-header + .modal-body{padding-top: 0;}
.modal-title{font-size: 26px; line-height: 1.2; margin-bottom: 0; font-weight: 500;}
.modal-header .close{padding: 0; margin: 0;}
.modal .badge{padding: 4px 8px 3px;}
.modal-content .btn{min-width: 100px;}
	/* Alert Modal */
.modal .alert-modal .modal-header .close, .modal .alert-modal button.close{display: none;}
	/* Modal Header With Shadow */
.modal-header-shadow{-webkit-box-shadow: 0px 2px 4px 0px rgba(23,31,35,0.06); -moz-box-shadow: 0px 2px 4px 0px rgba(23,31,35,0.06); box-shadow: 0px 2px 4px 0px rgba(23,31,35,0.06); border-bottom: 0; border-radius: 2px; padding: 24px 24px 18px; margin-bottom: 24px; position: relative;}
.modal-header-shadow .section-title:after{margin: 0; position: absolute; bottom: -2px;}
.modal-header-shadow .section-title .subtitle{margin: 0;}
	/* Media Query */
@media screen and (max-width: 991px){
	.modal-dialog.modal-lg{max-width: 700px;}
}
@media screen and (max-width: 767px){
	.modal-header{padding: 16px 16px 0 16px;}
	.modal-header-shadow{padding: 16px; margin-bottom: 16px;}
	.modal-body{padding: 16px;}
	.modal-icon{padding: 20px 16px 0;}
	.modal-title.title{font-size: 24px;}
}
@media screen and (max-width: 575px){
	.modal-dialog{margin: 0;}
}

/* ------------------------------
	z-depth
------------------------------- */
.z-depth{-webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.12); -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.12); box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.12);}
.z-depth-1{-webkit-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.06); -moz-box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.06); box-shadow: 0px 6px 18px 0px rgba(0,0,0,0.06);}
.z-depth-2{-webkit-box-shadow: 0 0 6px 1px rgba(0,0,0,.26); -moz-box-shadow: 0 0 6px 1px rgba(0,0,0,.26); box-shadow: 0 0 6px 1px rgba(0,0,0,.26);}
.z-depth-3{-webkit-box-shadow: 0 10px 20px 0px rgba(0,0,0,.19), 0 6px 6px 0px rgba(0,0,0,.23); -moz-box-shadow: 0 10px 20px 0px rgba(0,0,0,.19), 0 6px 6px 0px rgba(0,0,0,.23); box-shadow: 0 10px 20px 0px rgba(0,0,0,.19), 0 6px 6px 0px rgba(0,0,0,.23);}
.z-depth-4{-webkit-box-shadow: 0 14px 28px 0px rgba(0,0,0,.25), 0 10px 10px 0px rgba(0,0,0,.22); -moz-box-shadow: 0 14px 28px 0px rgba(0,0,0,.25), 0 10px 10px 0px rgba(0,0,0,.22); box-shadow: 0 14px 28px 0px rgba(0,0,0,.25), 0 10px 10px 0px rgba(0,0,0,.22);}
.z-depth-5{-webkit-box-shadow: 0 19px 38px 0px rgba(0,0,0,.3), 0 15px 12px 0px rgba(0,0,0,.22); -moz-box-shadow: 0 19px 38px 0px rgba(0,0,0,.3), 0 15px 12px 0px rgba(0,0,0,.22); box-shadow: 0 19px 38px 0px rgba(0,0,0,.3), 0 15px 12px 0px rgba(0,0,0,.22);}
.z-depth-6{-webkit-box-shadow: 0 19px 38px 0px rgba(0,0,0,.3), 0 15px 12px 0px rgba(0,0,0,.22); -moz-box-shadow: 0 19px 38px 0px rgba(0,0,0,.3), 0 15px 12px 0px rgba(0,0,0,.22); box-shadow: 0 19px 38px 0px rgba(0,0,0,.3), 0 15px 12px 0px rgba(0,0,0,.22);}

/* ------------------------------
	Breadcrum
------------------------------- */
.breadcrumb{background: transparent; padding: 0; margin: 0;}
.breadcrumb .breadcrumb-item{font-size: 14px;}
.breadcrumb .breadcrumb-item a{color: #455056;}
.breadcrumb .breadcrumb-item:hover a{color: #3075ba;}
@media screen and (max-width: 767px){
	.breadcrumb .breadcrumb-item{font-size: 12px;}
	.breadcrumb-item+.breadcrumb-item{padding-left: 6px;}
	.breadcrumb-item+.breadcrumb-item::before{padding-right: 6px;}
}

/* ------------------------------
	Dropdown Menu
------------------------------- */
.dropdown .btn{margin-right: 0;}
.no-caret:after, .no-caret:before, .no-caret .btn:before,.no-caret .btn:after{display: none;}
.dropdown-menu{border-radius: 2px; padding: 6px 0; z-index: 1031;}
.dropdown-menu a, .dropdown-menu .dropdown-item{display: block; padding: 10px 10px; line-height: 1.2; color: #455056;}
.dropdown-menu a:hover,.dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a.active, .dropdown-menu .dropdown-item:hover,.dropdown-menu .dropdown-item:active, .dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item.active{color: #ffffff; background: #3075BA; text-decoration: none;}
.dropdown-menu a i, .dropdown-menu .dropdown-item i{display: inline-block; vertical-align: middle; color: rgba(69, 80, 86, 0.68); margin: -4px 2px 0px 0px; font-size: 22px;}
.dropdown-menu a:hover i, .dropdown-menu a:active i, .dropdown-menu a:focus i, .dropdown-menu a.active i, .dropdown-menu .dropdown-item:hover i, .dropdown-menu .dropdown-item:active i, .dropdown-menu .dropdown-item:focus i, .dropdown-menu .dropdown-item.active i{color: #ffffff;}
a + .dropdown-divider, .dropdown-item + .dropdown-divider{margin: 0;}
.dropdown-header{font-size: 13px; padding: 6px 10px; text-transform: uppercase; font-weight: 500;}
.dropdown-divider{margin: 4px 0;}
.dropdown-menu-right{right: 0 !important; left: auto !important; transform: translate3d(0, 40px, 0px) !important;}
	/* floating-dropdown-btn */
.floating-dropdown-btn{position: fixed; bottom: 16px; right: 16px; z-index: 9;}
.floating-dropdown-btn .sm-floating-btn{position: static;}
.floating-dropdown-btn.dropup .dropdown-menu{left: -10px !important;}

/* ------------------------------
	Toast Notification
------------------------------- */
@keyframes Move { 
	0% {
		opacity: 0;
		transform: translateY(20%);
	}
	50% {
		opacity: 0.5;
		transform: translateY(10%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
.toast-notification{width: 320px; top: 80px; right: 16px; position: absolute; margin: 0; border-radius: 2px; padding: 8px 36px 8px 12px; z-index: 1; animation: Move 0.7s linear; animation-fill-mode: both; -webkit-transition: all 0.1s; -moz-transition: all 0.1s; -o-transition: all 0.1s; transition: all 0.1s;}
.toast-notification .close{padding: 8px;}
	/* Media Query */
@media (max-width: 767px) {
	.toast-notification{width: auto; left: 16px;}
}

/* ------------------------------
	Text Ellipsis
------------------------------- */
.block-ellipsis{overflow: hidden; position: relative; max-height: 66px; margin-right: 0; padding-right: 13px;
}
.block-ellipsis:before{content: '...'; position: absolute; right: 0; bottom: 0;}
.block-ellipsis:after{content: ''; position: absolute; right: 0; width: 16px; height: 16px; margin-top: 3px; background: #ffffff;}

/* ------------------------------
	Badge
------------------------------- */
.badge{padding: 4px 6px 3px; font-size: 12px; line-height: 1.2; text-transform: uppercase; border: 2px solid transparent; border-radius: 2px; margin-right: 4px; margin-bottom: 4px;}
.badge:last-child{margin-right: 0; margin-bottom: 0;}
.badge-pill{border-radius: 150px; font-weight: 500; padding: 2px 5px 1px;}
.badge-primary{background-color: rgba(48, 117, 186, 0.87); color: #ffffff; border-color: rgba(48, 117, 186, 0.06);}
.badge-secondary{background-color: rgba(0, 170, 74, 0.87); color: #ffffff; border-color: rgba(0, 170, 74, 0.06);}
.badge-default{background-color: rgba(69, 80, 86, 0.64); border-color: rgba(69, 80, 86, 0.06); color: #ffffff;}
.badge-danger{background-color: rgba(245, 75, 0, 0.87); color: #ffffff; border-color: rgba(245, 75, 0, 0.06);}
.badge-brown{background-color: rgba(151, 117, 57, 0.87); color: #ffffff; border-color: rgba(151, 117, 57, 0.06);}
.badge-purple{background-color: rgba(142, 68, 173, 0.87); color: #ffffff; border-color: rgba(142, 68, 173, 0.06);}

/* ------------------------------
	Info Text + Info Icon
------------------------------- */
.danger-info{color: rgba(245, 75, 0, 0.87);}
.danger-info i{color: rgba(245, 75, 0, 0.74);}

/* ------------------------------
	Tabbing
------------------------------- */
.nav-tabs .nav-link{border: 0; border-bottom: 4px solid transparent; cursor: pointer; font-weight: 500; color: #455056;}
.nav-tabs .nav-link.btn-fab{color: rgba(69, 80, 86, 0.7);}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{border-color: transparent;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link:hover, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-item.show .nav-link:focus, .nav-tabs .nav-link.active:focus{border-color: #3075ba; background-color: transparent; color: #3075ba;}
.nav-tabs{display: block; width: 100%; white-space: nowrap; overflow-x: auto; overflow-y: hidden;}
.nav-tabs .nav-item{display: inline-block;}
.nav-tabs .nav-link .badge-default{background-color: rgba(69, 80, 86, 0.52);}
.nav-tabs .nav-link.active .badge-default{background-color: #3075ba;}

/* Card selected state*/
.card.active{border: 1px solid #00aa4a; box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.16);}

/* ------------------------------
	Info Tag
------------------------------- */
.info-tag{font-size: 13px; color: rgba(69, 80, 86, 0.74);}

/* ----------------------------
	Table
---------------------------- */
.table thead th{color: rgba(69, 80, 86, 0.74); font-weight: 400; border-top: 0;}
.table th, .table td, .table thead th {white-space: nowrap; padding: 10px; vertical-align: middle; border-color: rgba(0,0,0,.06);}
.table-striped tbody tr:nth-of-type(odd){background-color: rgba(242, 244, 248, 0.24);}
.table-hover tbody tr:hover{background-color: rgba(242, 244, 248, 0.64);}
.table tbody tr th, .table tbody tr td a{font-weight: 500;}
.table-btn .btn{margin: 0 4px;}
.table-btn .btn i{font-size: 20px;}
.table a{white-space: nowrap;}
.table td.w-space-n, .table th.w-space-n{white-space: normal;}
	/* Media Query */
@media(max-width: 1599px){
	.table td.w-space-n, .table th.w-space-n{white-space: nowrap;}
}