@media screen and (max-width: 767px){
	.right-content-block {
	    min-height: inherit !important;
	}
}

.Select{position:relative}
.Select input::-webkit-contacts-auto-fill-button,.Select input::-webkit-credentials-auto-fill-button{display:none!important}
.Select input::-ms-clear,.Select input::-ms-reveal{display:none!important}
.Select,.Select div,.Select input,.Select span{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.Select.is-disabled .Select-arrow-zone{cursor:default;pointer-events:none;opacity:.35}
.Select.is-disabled>.Select-control{background-color:#f9f9f9}
.Select.is-disabled>.Select-control:hover{box-shadow:none}
.Select.is-open>.Select-control{border-bottom-right-radius:0;border-bottom-left-radius:0;background:#fff;}
.Select.is-open>.Select-control .Select-arrow{top:-2px;border-color:transparent transparent #999;border-width:0 5px 5px}
.Select.is-searchable.is-focused:not(.is-open)>.Select-control,.Select.is-searchable.is-open>.Select-control{cursor:text}
.Select.is-focused>.Select-control{background:#fff}
.Select.is-focused:not(.is-open)>.Select-control{border-color:#80bdff;box-shadow:0 0 0 0.2rem rgba(0,123,255,.25);background:#fff}
.Select.has-value.is-clearable.Select--single>.Select-control .Select-value{padding-right:42px}
.Select.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label,.Select.has-value.Select--single>.Select-control .Select-value .Select-value-label{color:#333}
.Select.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value a.Select-value-label,.Select.has-value.Select--single>.Select-control .Select-value a.Select-value-label{cursor:pointer;text-decoration:none}
.Select.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value a.Select-value-label:focus,.Select.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value a.Select-value-label:hover,.Select.has-value.Select--single>.Select-control .Select-value a.Select-value-label:focus,.Select.has-value.Select--single>.Select-control .Select-value a.Select-value-label:hover{color:#3b82c8;outline:none;text-decoration:underline}
.Select.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value a.Select-value-label:focus,.Select.has-value.Select--single>.Select-control .Select-value a.Select-value-label:focus{background:#fff}
.Select.has-value.is-pseudo-focused .Select-input{opacity:0}
.Select.is-open .Select-arrow,.Select .Select-arrow-zone:hover>.Select-arrow{border-top-color:#666}
.Select.Select--rtl{direction:rtl;text-align:right}
.Select-control{background-color:#fff; border-radius:2px; border: 2px solid #eeeeee; color: #171f23;cursor:default;display:table;border-spacing:0;border-collapse:separate;height:40px;outline:none;overflow:hidden;position:relative;width:100%}
.Select-control .Select-input:focus{outline:none;background:#fff}
.Select--single>.Select-control .Select-value,.Select-placeholder{bottom:0;left:0;line-height:36px;padding-left:12px;padding-right:12px;position:absolute;right:0;top:0;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; color: rgba(23, 31, 35, 0.34); font-size: 16px;}
.Select-input{height:36px;padding-left:10px;padding-right:10px;vertical-align:middle}
.Select-input>input{width:100%;background:none transparent;border:0 none;box-shadow:none;cursor:default;display:inline-block;font-family:inherit;font-size:inherit;margin:0;outline:none;line-height:17px;padding:8px 0 12px;-webkit-appearance:none}
.is-focused .Select-input>input{cursor:text}
.has-value.is-pseudo-focused .Select-input{opacity:0}
.Select-control:not(.is-searchable)>.Select-input{outline:none}
.Select-loading-zone{cursor:pointer;display:table-cell;text-align:center}
.Select-loading,.Select-loading-zone{position:relative;vertical-align:middle;width:16px}
.Select-loading{-webkit-animation:Select-animation-spin .4s infinite linear;-o-animation:Select-animation-spin .4s infinite linear;animation:Select-animation-spin .4s infinite linear;height:16px;box-sizing:border-box;border-radius:50%;border:2px solid #ccc;border-right-color:#333;display:inline-block}
.Select-clear-zone{-webkit-animation:Select-animation-fadeIn .2s;-o-animation:Select-animation-fadeIn .2s;animation:Select-animation-fadeIn .2s;color:#999;cursor:pointer;display:table-cell;position:relative;text-align:center;vertical-align:middle;width:17px}
.Select-clear-zone:hover{color:#d0021b}
.Select-clear{display:inline-block;font-size:18px;line-height:1}
.Select--multi .Select-clear-zone{width:17px}
.Select-arrow-zone{cursor:pointer;display:table-cell;position:relative;text-align:center;vertical-align:middle;width:25px;padding-right:5px}
.Select--rtl .Select-arrow-zone{padding-right:0;padding-left:5px}
.Select-arrow{border-color:#999 transparent transparent;border-style:solid;border-width:5px 5px 2.5px;display:inline-block;height:0;width:0;position:relative}
.Select-control>:last-child{padding-right:5px}
.Select--multi .Select-multi-value-wrapper{display:inline-block}
.Select .Select-aria-only{position:absolute;display:inline-block;height:1px;width:1px;margin:-1px;clip:rect(0,0,0,0);overflow:hidden;float:left}
@-webkit-keyframes Select-animation-fadeIn{0%{opacity:0}
to{opacity:1}
}
@keyframes Select-animation-fadeIn{0%{opacity:0}
to{opacity:1}
}
.Select-menu-outer{border-bottom-right-radius:2px;border-bottom-left-radius:2px;background-color:#fff;border:2px solid #eee;box-shadow:0 1px 0 rgba(0,0,0,.06);box-sizing:border-box;margin-top:-1px;max-height:200px;position:absolute;top:100%;width:100%;z-index:1;-webkit-overflow-scrolling:touch;}
.Select-menu{max-height:198px;overflow-y:auto}
.Select-option{box-sizing:border-box;background-color:#fff;color:#666;cursor:pointer;display:block;padding:8px 10px}
.Select-option:last-child{border-bottom-right-radius:4px;border-bottom-left-radius:4px}
.Select-option.is-selected{background-color:#f5faff;background-color:rgba(59, 130, 200,.04);color:#333}
.Select-option.is-focused{background-color:#ebf5ff;background-color:rgba(59, 130, 200,.08);color:#333}
.Select-option.is-disabled{color:#ccc;cursor:default}
.Select-noresults{box-sizing:border-box;color:#999;cursor:default;display:block;padding:8px 10px}
.Select--multi .Select-input{vertical-align:middle;margin-left:10px;padding:0}
.Select--multi.Select--rtl .Select-input{margin-left:0;margin-right:10px}
.Select--multi.has-value .Select-input{margin-left:5px}
.Select--multi .Select-value{background-color:#ebf5ff;background-color:rgba(59, 130, 200,.08);border-radius:2px;border:1px solid #c2e0ff;border:1px solid rgba(59, 130, 200,.24);color:#3b82c8;display:inline-block;font-size:.9em;line-height:1.4;margin-left:5px;margin-top:5px;vertical-align:top}
.Select--multi .Select-value-icon,.Select--multi .Select-value-label{display:inline-block;vertical-align:middle}
.Select--multi .Select-value-label{border-bottom-right-radius:2px;border-top-right-radius:2px;cursor:default;padding:2px 5px}
.Select--multi a.Select-value-label{color:#3b82c8;cursor:pointer;text-decoration:none}
.Select--multi a.Select-value-label:hover{text-decoration:underline}
.Select--multi .Select-value-icon{cursor:pointer;border-bottom-left-radius:2px;border-top-left-radius:2px;border-right:1px solid #c2e0ff;border-right:1px solid rgba(59, 130, 200,.24);padding:1px 5px 3px}
.Select--multi .Select-value-icon:focus,.Select--multi .Select-value-icon:hover{background-color:#d8eafd;background-color:rgba(0,113,230,.08);color:#0071e6}
.Select--multi .Select-value-icon:active{background-color:#c2e0ff;background-color:rgba(59, 130, 200,.24)}
.Select--multi.Select--rtl .Select-value{margin-left:0;margin-right:5px}
.Select--multi.Select--rtl .Select-value-icon{border-right:none;border-left:1px solid #c2e0ff;border-left:1px solid rgba(59, 130, 200,.24)}
.Select--multi.is-disabled .Select-value{background-color:#fcfcfc;border:1px solid #e3e3e3;color:#333}
.Select--multi.is-disabled .Select-value-icon{cursor:not-allowed;border-right:1px solid #e3e3e3}
.Select--multi.is-disabled .Select-value-icon:active,.Select--multi.is-disabled .Select-value-icon:focus,.Select--multi.is-disabled .Select-value-icon:hover{background-color:#fcfcfc}


.checkbox-list{margin-top:.5em;overflow:hidden}
.checkbox-list>.checkbox{clear:left;float:left;margin-top:.5em}
.checkbox-control{margin-right:.5em;position:relative;top:-1px}
.switcher{color:#999;cursor:default;font-size:12px;margin:10px 0;text-transform:uppercase}
.switcher .link{color:#007eff;cursor:pointer;font-weight:700;margin-left:10px}
.switcher .link:hover{text-decoration:underline}
.switcher .active{color:#666;font-weight:700;margin-left:10px}
.section{margin-bottom:40px}
.hint{font-size:.85em;margin:15px 0;color:#666}
.virtual-scroll{z-index:1}
.loader:empty {
	position: absolute;
	top: calc(50% - 4em);
	left: calc(50% - 4em);
	width: 6em;
	height: 6em;
	border: 1.1em solid rgba(0, 0, 0, 0.2);
	border-left: 1.1em solid #000000;
	border-radius: 50%;
	animation: load8 1.1s infinite linear;
  }
  
  @keyframes load8 {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

.theme-inverse .DayPickerInput-OverlayWrapper{color: #455056;}
.theme-inverse .input-group-addon{z-index: 0; pointer-events: none;}

/* Hide HTML5(number-input) Up and Down arrows. */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[type="number"] {
  -moz-appearance: textfield;
}